Source: mount-usb-media
Section: embedded
Priority: extra
Maintainer: Ryan Kuester <rkuester@insymbols.com>
Build-Depends: debhelper (>= 8.0.0), dh-systemd
Standards-Version: 3.9.3

Package: mount-usb-media
Architecture: all
Depends: udev, systemd, ${misc:Depends}
Description: Mount USB media automatically
 Mount USB media automatically to /media/by-bus/usb/* so long as they
 are connected. Uses udev rules and systemd.
